@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --header-background: #747DFF59;
    --banner-blur: #00000040;
    --buscar-background: #747DFF59;
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

p {
    margin: 0;
}

/*Componentes gerais */
.ul-unset {
    list-style: none;
}

.banner-default {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.a-unset {
    text-decoration: none;
}

.btn {
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn-primary {
    background-color: #FFAD32;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.btn-sm {
    width: 13.6rem;
    padding: .5rem 0;
    font-size: 1.6rem;

}

.btn-md {
    padding: 1rem 4rem;
    font-size: 1.8rem;
    width: 21rem;
}

.btn-lg {
    padding: 1rem 6rem;
    font-size: 2rem;
}

.d-flex {
    display: flex;
}

.f-column {
    flex-direction: column;
}

.g-justify-end {
    justify-self: flex-end;
}

.g-justify-start {
    justify-self: flex-start;
}

.box-shadow {
    box-shadow: 0px 4px 4px 0px #00000040;
}


/* FIM */


/* HEADER */

.introducao {
    background-image: url("../img/Headerbanner.png");
}

header {
    height: 8.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: hsla(236, 100%, 73%, 0.258);
    padding-inline: 8rem;
}

.header-logo {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #FFFFFF;
}

header ul {
    display: flex;
    flex-direction: row;
    gap: 7rem;
}

header .nav-item {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    color: #FFFFFF;
}

.introducao-content {
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introducao-content h1 {
    font-family: "Poppins", sans-serif;
    font-size: 3.6rem;
    font-weight: 700;
    color: #FFFFFF;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.841);
}

.introducao-schedule {
    height: 20rem;
    background: hsla(236, 100%, 73%, 0.258);
    display: flex;
    justify-content: center;
    align-items: center;
}

.schedule-box {
    background-color: #F9F9F9;
    max-width: 140rem;
    height: 14rem;
    border-radius: 8px;
    padding-inline: 3rem;
}

.form-inputs {
    display: flex;
    flex-direction: row;
    height: 100%;
    gap: 1.2rem;
    align-items: center;
    justify-content: center;

}

.form-box {
    display: flex;
    flex-direction: column;
}

.form-box label {
    font-family: "Poppins", sans-serif;
    font-size: 2.08rem;
    font-weight: 400;
    text-align: left;
    color: #767F86;
}

.form-box #lugar {
    width: 35rem;
}

.form-box__input {
    border: 1px solid #B8C0C7;
    background: #FFFFFF;
    width: 28.9rem;
    height: 4.5rem;
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.08em;
    outline: none;
    color: #767F86;
    padding-inline: 1rem;
    border-radius: 8px;
}

.form-box__input::-webkit-calendar-picker-indicator {
    width: 3.5rem;
    height: 3.5rem;
}

.datepicker {
    -webkit-appearance: none;
    background-image: url("../img/calendar.png");
    background-size: 3.25rem 3.25rem;
    background-repeat: no-repeat;
    background-position: right center;
    background-position: calc(100% - 1rem) center;
}

.datepicker::-webkit-calendar-picker-indicator {
    display: none;
}

.btn-form {
    margin-top: 3rem;
}


/* APRESENTACAO */

.apresentacao {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 70rem;
    padding: 4rem 0 4rem 0;
}

.apresentacao-content {
    padding: 0 5rem 0 5rem;
    gap: 3rem;
}

.apresentacao-content img {
    width: 34rem;
}

.apresentacao-content h2 {
    font-family: "Lobster", sans-serif;
    font-size: 3.6rem;
    font-weight: 400;
    text-align: left;
    color: #747DFF;
    margin: 0;
}

.apresentacao-content p {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 30px;
    text-align: justify;
    color: #3C4852;
}

.apresentacao-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5.2rem;
}

.apresentacao-gallery img {
    width: 30rem;
    background-color: #fff;
    padding: 1.1rem;
    border-radius: 8px;
}

/* LUGARES */

.lugares{
    height: 130rem;
    background: linear-gradient(65.68deg, #FFE7C2 -4.19%, #BDACFF 104.38%);
    padding-block: 8rem;
}

.lugares > h2 {
    text-align: center;
    font-family: "Lobster", sans-serif;
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 45px;
    color: #747DFF;

}

.lugares ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4.4rem;
    padding-inline: 4.4rem;
}

.lugares .card {
    display: flex;
    flex-direction: column;
    width: 42.4rem;
    justify-self: center;
    background-color: #fff;
    padding: 1.2rem;
    box-shadow: 0px 2px 4px 2px #00000040;
    border-radius: 8px;
    gap: 1.2rem;
    padding-bottom: 2.5rem;
}

.lugares .card .card-image{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lugares .card .card-image img {
    width: 42rem;
}

.lugares .card .card-content {
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.lugares .card .card-content .content-title-bold{
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 30px;
    text-align: justify;
    color: #3C4852;
}

.lugares .card .card-content .content-title {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 24px;
    text-align: justify;
    color: #3C4852;
}

.lugares .card .card-content .description {
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #3C4852;
    
}

.buy-infos {
    display: flex;
    gap: 4.3rem;
    justify-content: space-between;
}

.prices {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.prices p {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 30px;
    text-align: justify;
    color: #3C4852;

}

.prices span {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 18px;
    text-align: justify;
    color: #767F86;
    text-decoration: line-through;

}






/* RESPONSIVIDADE */

@media screen and (max-width:540px) {
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-inline: 5rem;
    }

    header ul {
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        padding-inline: 2rem 1rem;
    }

    header .nav-item {
        font-size: 1.4rem;
        text-align: center;

    }

    .header-logo {
        font-size: 2.8rem;
    }


    .introducao-schedule {
        height: 33rem;
        background: hsla(236, 100%, 73%, 0.258);
        display: flex;
    }

    .schedule-box {
        height: 29rem;
        border-radius: 8px;
        padding-inline: 3rem;
        background-color: #F9F9F9;


    }

    .form-inputs {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 1.2rem;
        align-items: center;
        justify-content: center;

    }

    .form-box {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    .form-box label {
        font-family: "Poppins", sans-serif;
        font-size: 1.5rem;
        font-weight: 400;
        text-align: left;
        color: #767F86;
    }

    .form-box #lugar {
        width: 18rem;
    }

    .form-box__input {
        border: 1px solid #B8C0C7;
        background: #FFFFFF;
        width: 18rem;
        height: 3rem;
        font-family: "Poppins", sans-serif;
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: 0.08em;
        outline: none;
        color: #767F86;
        padding-inline: 1rem;
        border-radius: 8px;
    }

    .form-box__input::-webkit-calendar-picker-indicator {
        width: 2rem;
        height: 2rem;
    }

    .datepicker {
        -webkit-appearance: none;
        background-image: url("../img/calendar.png");
        background-size: 2rem 2rem;
        background-repeat: no-repeat;
        background-position: right center;
        background-position: calc(100% - 1rem) center;
    }

    .datepicker::-webkit-calendar-picker-indicator {
        display: none;
    }

    .btn-form {
        margin-top: .5rem;
    }

    .btn-lg {
        padding: .5rem 6.5rem;
    }

    .apresentacao {
        display: flex;
        flex-direction: column;
        height: 230rem;
    }

    .apresentacao-content {
        padding-inline: 2rem;
    }
    
    .apresentacao-content img {
        width: 20rem;
    }
    
    .apresentacao-content h2 {
        font-size: 3rem;
    }

    .apresentacao-gallery {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-top: 6rem;
        height: 100rem;
    }
    
    .apresentacao-gallery img {
        width: 30rem;
        background-color: #fff;
        padding: 1.1rem;
        border-radius: 8px;
    }

    .lugares ul {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        align-items: center;
        padding-inline: 0;
    }


    .lugares{
        height: 325rem;
        background: linear-gradient(65.68deg, #FFE7C2 -4.19%, #BDACFF 104.38%);
        padding-block: 5rem;
    }
    
    .lugares > h2 {
        text-align: center;
        font-family: "Lobster", sans-serif;
        font-size: 2.6rem;
        font-weight: 400;
        line-height: 45px;
        color: #747DFF;
    
    }
    .lugares .card {
        display: flex;
        flex-direction: column;
        width: 30rem;
        justify-self: center;
        background-color: #fff;
        padding: 1.2rem;
        box-shadow: 0px 2px 4px 2px #00000040;
        border-radius: 8px;
        gap: 1.2rem;
        padding-bottom: 2.5rem;
    }
    
    .lugares .card .card-image{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .lugares .card .card-image img {
        width: 30rem;
    }
    
    .lugares .card .card-content {
        padding-inline: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
    .lugares .card .card-content .content-title-bold{
        font-family: "Poppins", sans-serif;
        font-size: 2rem;
        font-weight: 700;
        line-height: 30px;
        text-align: justify;
        color: #3C4852;
    }
    
    .lugares .card .card-content .content-title {
        font-family: "Poppins", sans-serif;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 24px;
        text-align: justify;
        color: #3C4852;
    }
    
    .lugares .card .card-content .description {
        font-family: "Poppins", sans-serif;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        color: #3C4852;
        
    }
    
    .buy-infos {
        display: flex;
        gap: 4.3rem;
        justify-content: space-between;
    }
    
    .prices {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    
    .prices p {
        font-family: "Poppins", sans-serif;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 30px;
        text-align: justify;
        color: #3C4852;
    
    }
    
    .prices span {
        font-family: "Poppins", sans-serif;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 18px;
        text-align: justify;
        color: #767F86;
        text-decoration: line-through;
    
    }

    .btn-sm {
        width: 20rem;
        padding: 0;
        font-size: 1.6rem;
    
    }

}