@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Puritan:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --header-background: #747DFF59;
    --banner-blur: #00000040;
    --buscar-background: #747DFF59;
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    transition: .5s;
}

p {
    margin: 0;
}

/*Componentes gerais */
.ul-unset {
    list-style: none;
}

.banner-default {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.a-unset {
    text-decoration: none;
}

.btn {
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn-primary {
    background-color: #FFAD32;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.btn-sm {
    width: 13.6rem;
    padding: .5rem 0;
    font-size: 1.6rem;

}

.btn-md {
    padding: 1rem 4rem;
    font-size: 1.8rem;
    width: 21rem;
}

.btn-lg {
    padding: 1rem 6rem;
    font-size: 2rem;
}

.d-flex {
    display: flex;
}

.f-column {
    flex-direction: column;
}

.g-justify-end {
    justify-self: flex-end;
}

.g-justify-start {
    justify-self: flex-start;
}

.box-shadow {
    box-shadow: 0px 4px 4px 0px #00000040;
}

.bg-purple {
    background-color: #747DFF;
    height: 8rem;
}

/* FIM */


/* HEADER */

.introducao {
    background-image: url("../img/Headerbanner.png");
}

header {
    height: 8.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: hsla(236, 100%, 73%, 0.258);
    padding-inline: 8rem;
}

.header-logo {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #FFFFFF;
}

header ul {
    display: flex;
    flex-direction: row;
    gap: 7rem;
}

header .nav-item {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    color: #FFFFFF;
}

.introducao-content {
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introducao-content h1 {
    font-family: "Poppins", sans-serif;
    font-size: 3.6rem;
    font-weight: 700;
    color: #FFFFFF;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.841);
}

.introducao-schedule {
    height: 20rem;
    background: hsla(236, 100%, 73%, 0.258);
    display: flex;
    justify-content: center;
    align-items: center;
}

.schedule-box {
    background-color: #F9F9F9;
    max-width: 140rem;
    height: 14rem;
    border-radius: 8px;
    padding-inline: 3rem;
}

.form-inputs {
    display: flex;
    flex-direction: row;
    height: 100%;
    gap: 1.2rem;
    align-items: center;
    justify-content: center;

}

.form-box {
    display: flex;
    flex-direction: column;
}

.form-box label {
    font-family: "Poppins", sans-serif;
    font-size: 2.08rem;
    font-weight: 400;
    text-align: left;
    color: #767F86;
}

.form-box #lugar {
    width: 35rem;
}

.form-box__input {
    border: 1px solid #B8C0C7;
    background: #FFFFFF;
    width: 28.9rem;
    height: 4.5rem;
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.08em;
    outline: none;
    color: #767F86;
    padding-inline: 1rem;
    border-radius: 8px;
}

.form-box__input::-webkit-calendar-picker-indicator {
    width: 3.5rem;
    height: 3.5rem;
}

.datepicker {
    -webkit-appearance: none;
    background-image: url("../img/calendar.png");
    background-size: 3.25rem 3.25rem;
    background-repeat: no-repeat;
    background-position: right center;
    background-position: calc(100% - 1rem) center;
}

.datepicker::-webkit-calendar-picker-indicator {
    display: none;
}

.btn-form {
    margin-top: 3rem;
}


/* APRESENTACAO */

.apresentacao {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 90rem;
    padding: 20rem 0 4rem 0;
}

.apresentacao-content {
    padding: 0 5rem 0 5rem;
    gap: 3rem;
}

.apresentacao-content img {
    width: 34rem;
}

.apresentacao-content h2 {
    font-family: "Lobster", sans-serif;
    font-size: 3.6rem;
    font-weight: 400;
    text-align: left;
    color: #747DFF;
    margin: 0;
}

.apresentacao-content p {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 30px;
    text-align: justify;
    color: #3C4852;
}

.apresentacao-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5.2rem;
}

.apresentacao-gallery img {
    width: 30rem;
    background-color: #fff;
    padding: 1.1rem;
    border-radius: 8px;
}

/* LUGARES */

.lugares{
    height: 140rem;
    background: linear-gradient(65.68deg, #FFE7C2 -4.19%, #BDACFF 104.38%);
    padding-block: 8rem;
    margin-top: 12rem;
}

.lugares > h2 {
    text-align: center;
    font-family: "Lobster", sans-serif;
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 45px;
    color: #747DFF;
    padding-bottom: 5rem;

}

.lugares ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4.4rem;
    padding-inline: 4.4rem;
}

.lugares .card {
    display: flex;
    flex-direction: column;
    width: 42.4rem;
    justify-self: center;
    background-color: #fff;
    padding: 1.2rem;
    box-shadow: 0px 2px 4px 2px #00000040;
    border-radius: 8px;
    gap: 1.2rem;
    padding-bottom: 2.5rem;
}

.lugares .card .card-image{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lugares .card .card-image img {
    width: 42rem;
}

.lugares .card .card-content {
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.lugares .card .card-content .content-title-bold{
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 30px;
    text-align: justify;
    color: #3C4852;
}

.lugares .card .card-content .content-title {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 24px;
    text-align: justify;
    color: #3C4852;
}

.lugares .card .card-content .description {
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #3C4852;
    
}

.buy-infos {
    display: flex;
    gap: 3.3rem;
    justify-content: space-between;
}

.prices {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.prices p {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 30px;
    text-align: justify;
    color: #3C4852;

}

.prices span {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 18px;
    text-align: justify;
    color: #767F86;
    text-decoration: line-through;

}

.depoimento {
    height: 80rem;
    padding-inline: 14.6rem;
    padding-top: 17.3rem;
    display: flex;
    flex-direction: column;
    gap: 3.1rem;
}

.depoimento h2 {
    font-family: "Lobster", sans-serif;
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 45px;
    text-align: center;
    color: #747DFF;

}

.depoimento p {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-style: italic;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    padding-inline: 6rem;
    color: #767F86;

}

.slider {
    display: flex;
    justify-content: space-between;
    
}

.slider button {
    all: unset;
    height: 5.2rem;
    width: 3.6rem;
    background-color:  #B8C0C7;
    text-align: center;
    color: #fff;
    font-size: 3.6rem;
    cursor: pointer;
    font-weight: 700;
    font-family: "Puritan", sans-serif;
    border-radius: 8px;
}

.slider-cliente {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.6rem;
}

.slider-cliente p {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-style: italic;
    font-weight: 700;
    line-height: 30px;
}

.slider-cliente span {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-style: italic;
    font-weight: 400;
    line-height: 30px;
}

/* FOOTER */

footer {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    height: 33rem;
    width: 100%;
    background-color: #3C4852;
    padding-top: 4.5rem;
}

.footer-direitos {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-left: 9.4rem;
    width: 44rem;
}

.footer-direitos h2 {
    font-family: "Lobster", sans-serif;
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 45px;
    color: #B8C0C7;
    margin: 0;

}

.footer-direitos_local {
    display: flex;
    flex-direction: column;
}

.footer-direitos_local .local-title {
    font-weight: 700;
}

.footer-direitos p {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 24px;
    color: #B8C0C7;
}

.footer-parceiros {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    padding-top: 1rem;
}

.footer-parceiros h2 {  
    text-transform: uppercase;

    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #B8C0C7;
    
}

.footer-parceiros ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer-parceiros ul li a{
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    color: #B8C0C7;
}

.footer-redes {
    padding: 1rem 0 0 12rem; 
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.footer-redes__newsletter {
    display: flex;
    flex-direction: column;
    gap: 2.1rem;
}

.footer-redes__newsletter label {
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #B8C0C7;

}

.footer-redes__newsletter input {
    width: 30rem;
    height: 3.7rem;
    padding: 0.8rem 1.7rem;
    outline: none;
    font-size: 1.4rem;
    color: #60676d;
    font-weight: 400;
    font-family: "Poppins", sans-serif;

}



.footer-redes__newsletter input::placeholder {
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    color: #B8C0C7;

}

.footer-redes__newsletter button {
    all: unset;
    border-radius: 5px;
    background-color:  #FFAD32;
    color: #fff;
    padding: 0.5rem 2rem ;
    border: 0;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 700;


}

.newsletter-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.line {
    width: 39.8rem;
    border: 1px solid #B8C0C7;
}

.footer-redes-redesSociais {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.footer-redes-redesSociais h2{  
    text-transform: uppercase;
    color: #B8C0C7;
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

.footer-redes-redesSociais .redes-sociais {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.4rem;
}



.footer-redes-redesSociais .redes-sociais i {
    font-size: 3.4rem;
    color: #B8C0C7;
}

.footer-redes-redesSociais .redes-sociais i:hover {
    
    color: #FFAD32;
    
}

/* RESPONSIVIDADE */

@media screen and (max-width:540px) {
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-inline: 5rem;
    }

    header ul {
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        padding-inline: 2rem 1rem;
    }

    header .nav-item {
        font-size: 1.4rem;
        text-align: center;

    }

    .header-logo {
        font-size: 2.8rem;
    }


    .introducao-schedule {
        height: 33rem;
        background: hsla(236, 100%, 73%, 0.258);
        display: flex;
    }

    .schedule-box {
        height: 29rem;
        border-radius: 8px;
        padding-inline: 3rem;
        background-color: #F9F9F9;


    }

    .form-inputs {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 1.2rem;
        align-items: center;
        justify-content: center;

    }

    .form-box {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    .form-box label {
        font-family: "Poppins", sans-serif;
        font-size: 1.5rem;
        font-weight: 400;
        text-align: left;
        color: #767F86;
    }

    .form-box #lugar {
        width: 18rem;
    }

    .form-box__input {
        border: 1px solid #B8C0C7;
        background: #FFFFFF;
        width: 18rem;
        height: 3rem;
        font-family: "Poppins", sans-serif;
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: 0.08em;
        outline: none;
        color: #767F86;
        padding-inline: 1rem;
        border-radius: 8px;
    }

    .form-box__input::-webkit-calendar-picker-indicator {
        width: 2rem;
        height: 2rem;
    }

    .datepicker {
        -webkit-appearance: none;
        background-image: url("../img/calendar.png");
        background-size: 2rem 2rem;
        background-repeat: no-repeat;
        background-position: right center;
        background-position: calc(100% - 1rem) center;
    }

    .datepicker::-webkit-calendar-picker-indicator {
        display: none;
    }

    .btn-form {
        margin-top: .5rem;
    }

    .btn-lg {
        padding: .5rem 6.5rem;
    }

    .apresentacao {
        display: flex;
        flex-direction: column;
        padding-top: 5rem;
        height: 220rem;
    }

    .apresentacao-content {
        padding-inline: 2rem;
    }
    
    .apresentacao-content img {
        width: 20rem;
    }
    
    .apresentacao-content h2 {
        font-size: 3rem;
    }

    .apresentacao-gallery {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-top: 6rem;
        height: 100rem;
    }
    
    .apresentacao-gallery img {
        width: 30rem;
        background-color: #fff;
        padding: 1.1rem;
        border-radius: 8px;
    }

    .lugares ul {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        align-items: center;
        padding-inline: 0;
    }


    .lugares{
        height: 355rem;
        background: linear-gradient(65.68deg, #FFE7C2 -4.19%, #BDACFF 104.38%);
        padding-block: 5rem;
    }
    
    .lugares > h2 {
        text-align: center;
        font-family: "Lobster", sans-serif;
        font-size: 2.6rem;
        font-weight: 400;
        line-height: 45px;
        color: #747DFF;
    
    }
    .lugares .card {
        display: flex;
        flex-direction: column;
        width: 30rem;
        justify-self: center;
        background-color: #fff;
        padding: 1.2rem;
        box-shadow: 0px 2px 4px 2px #00000040;
        border-radius: 8px;
        gap: 1.2rem;
        padding-bottom: 2.5rem;
    }
    
    .lugares .card .card-image{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .lugares .card .card-image img {
        width: 100%;
    }
    
    .lugares .card .card-content {
        padding-inline: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
    .lugares .card .card-content .content-title-bold{
        font-family: "Poppins", sans-serif;
        font-size: 2rem;
        font-weight: 700;
        line-height: 30px;
        text-align: justify;
        color: #3C4852;
    }
    
    .lugares .card .card-content .content-title {
        font-family: "Poppins", sans-serif;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 24px;
        text-align: justify;
        color: #3C4852;
    }
    
    .lugares .card .card-content .description {
        font-family: "Poppins", sans-serif;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        color: #3C4852;
        
    }
    
    .buy-infos {
        display: flex;
        flex-direction: column;
        gap: 1rem;        
    }
    
    .prices {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    
    .prices p {
        font-family: "Poppins", sans-serif;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 30px;
        text-align: justify;
        color: #3C4852;
    
    }
    
    .prices span {
        font-family: "Poppins", sans-serif;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 18px;
        text-align: justify;
        color: #767F86;
        text-decoration: line-through;
    
    }

    .btn-sm {
        width: 100%;
        padding-block: 1rem;
        font-size: 1.6rem;
    
    }

    .depoimento {
        padding-inline: 2rem;
        padding-top: 6rem;
        height: 90rem;
    }

    .depoimento p {
        padding-inline: 0;
    }

    footer {
        display: flex;
        flex-direction: column;
        height: 79rem;
        padding-inline: 1rem;
        gap: 4rem;
    }

    .footer-direitos {
        padding: 0;
        width: 100%;
    }

    .line {
        width: 35rem;
    }


    .footer-redes {
        padding: 0;
    }

    .footer-redes-redesSociais {
        gap: 1.5rem;
    }

}